[MASTER]
ignore=venv
jobs=1
load-plugins=pylint.extensions.docparams

[MESSAGES CONTROL]
disable=
    broad-exception-caught,
    missing-function-docstring,
    missing-module-docstring,
    too-few-public-methods,
    multiple-imports,
    wrong-import-position,
    redefined-outer-name,
    missing-timeout,
    missing-class-docstring,
    undefined-variable,
    wrong-import-order,
    unused-import,
    import-error

[FORMAT]
max-line-length=100
indent-string='    '

[LOGGING]
logging-modules=logging

[REPORTS]
output-format=colorized
reports=no
evaluation=10.0 - ((float(5 * error + warning + refactor + convention)) / statement) * 10

[TYPECHECK]
ignored-modules=cv2,deepface

[REFACTORING]
max-nested-blocks=5
