[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.11"

[packages]
numpy = "*"
pytest = "*"
tensorflow-cpu = "2.19.0"
opencv-python = "4.7.0"
deepface = "0.0.93"
pymongo = "4.11.3"

[dev-packages]
pytest = "*"
coverage = "*"
black = "*"
pylint = "*"
