[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.11"

[packages]
opencv-python = "*"
deepface = "*"
pymongo = "*"
numpy = "*"
pytest = "*"
tensorflow-cpu = "*"

[dev-packages]
pytest = "*"
coverage = "*"
black = "*"
pylint = "*"
