[MASTER]
# Python version
py-version = 3.9

# Disable specific warnings and errors
disable=
    C0103, # Invalid name - for db and e variables
    W0718, # Broad exception caught

[FORMAT]
# Maximum line length
max-line-length = 102

[MESSAGES CONTROL]
# Regular expression for functions to disable no-member for
ignored-modules = 
    pymongo,
    flask,
    pytest 